.form-inputs{
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .localization_main {
    float: left;
    &.disabled {
      cursor: default;
    }
  }
  #documents {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #photos {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .remove-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
