.inline-list {
  margin: 0;

  li {
    margin-left: 0px;
  }

  a {
    @include font(null, xsmall, medium, 1);
    text-transform: capitalize;
    color: $color-3;
    padding: 30px 15px 6px;

    @media screen and (max-width: 1060px) {
      padding: 30px 8px 6px;
    }

    &.is-active {
      background: $color-8;
    }

    &:hover {
      background: $grey-2;

      &.is-active {
        background: $color-8;
      }
    }
  }
}
